$bace-color: #363636;
.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 20px 5px;

  &__animation {
    width: 42px;
    height: 42px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: white;
    position: relative;
    overflow: hidden;
    color: $bace-color;

    span {
      color: $bace-color;
      font-weight: 600;
    }

    svg {
      color: $bace-color;
    }

    i {
      color: $bace-color;
    }
  }
}

.sub {
  &__title__group {
    //width: 80%;
    width: 100%;
    margin: 30px auto;
  }

  &__title {
    width: 32%;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    color: #626262;
    text-transform: uppercase;
    font-family: -apple-system-500, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  &__img {
    width: 32%;
    position: relative;
    overflow: unset;
  }

  &__img::before {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 50%;
    height: 50px;
    border-radius: 50%;
    background: #626262;
    filter: blur(1.5rem);
  }

  &__menu__group {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 0 50px;
    height: 50px;
  }

  &__menu {
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1034px) {
  .btn {
    display: none;
  }
  .sub {
    &__title__group {
      //width: 80%;
      width: 100%;
    }

    &__title {
      width: 32%;
      color: #626262;

      &__menu__group {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 0 0 50px;
        height: 50px;
      }

      &__menu {
        margin-right: 20px;
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1034px) {
  .sub {
    &__container {
      width: 100%;
      height: 100vh;
      position: absolute;
      color: black;
      top: 0;
      right: 0;
    }

    &__menu__group {
      width: 50%;
      height: 100%;
      align-items: end;
      justify-content: start;
      flex-direction: column;
      position: absolute;
      background-color: white;
      z-index: 99;
      top: 0;
      transform: translateX(103%);
    }

    &__menu {
      width: 100%;
      font-size: 15px;
      padding: 10px 30px;
    }
  }
}

@media screen and (max-width: 473px) {
  .sub {
    &__container {
      width: 100%;
      height: 100vh;
      position: absolute;
      color: black;
      top: 0;
      right: 0;
    }

    &__menu__group {
      width: 70%;
      height: 100%;
      align-items: end;
      justify-content: start;
      flex-direction: column;
      position: absolute;

      z-index: 99;
      top: 0;
      transform: translateX(50%);
    }

    &__menu {
      width: 100%;
      font-size: 15px;
      padding: 10px 30px;
    }
  }
  .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 5px;

    &__group {
      position: absolute;
      bottom: 70px;
      width: 100%;
    }

    &__close {
      position: absolute;
      top: 0;
      right: 10px;
    }

    &__animation {
      width: 42px;
      height: 42px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid grey;
      background-color: white;
      position: relative;
      overflow: hidden;
      color: $bace-color;

      span {
        color: $bace-color;
        font-weight: 600;
      }

      svg {
        color: $bace-color;
      }

      i {
        color: $bace-color;
      }
    }
  }
}
